@page
@model LicenStream.WebUI.Pages.CustomerDetailModel

@{
    ViewData["Title"] = "Customer Detail";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
        <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Company
        </th>
        <th>
            Email
        </th>
        <th>
            Adress
        </th>
        <th>
            Zipcode
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Country
        </th>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CustomerViewModel.State)
            </td>
            <td>
                @Model.CustomerViewModel.Country
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a asp-page="/CustomerImportExternalLicenses" asp-route-customerId="@Model.CustomerViewModel.Id">
            View all external Licenses
        </a>
    </div>
</div>