@page
@model LicenStream.WebUI.Pages.CustomerImportExternalLicenses

@{
    ViewData["Title"] = "External Licenses";
}

<h1>@ViewData["Title"]</h1>

@* <div> *@
@*     <a asp-page-handler="SaveImportedExternalLicenses" asp-route-customerId="@Model.CustomerId"> *@
@*         Click to add these licenses to the Customer *@
@*     </a> *@
@* </div> *@

@if (Model.ShowToast)
{
    <script>$('#messageToast').toast('show');</script>
}

<div class="accordion" id="accordionExample">
    @{
        int accordionItemCounter = 1;
        @foreach (var item in Model.Licenses)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@accordionItemCounter">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_@accordionItemCounter"
                            aria-expanded="true" aria-controls="collapse_@accordionItemCounter">
                        @item.Name
                    </button>
                </h2>
                <div id="collapse_@accordionItemCounter" class="accordion-collapse collapse"
                     aria-labelledby="heading_@accordionItemCounter" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>@item.SkuId</strong> @item.CreatedDate,
                        @item.IsTrail,
                        @item.Status,
                        @item.NextLifeCycleDate,
                        @item.TotalLicenses,
                        @item.IsTrail

                        <div>
                            @foreach (var serviceStatusItem in @item.ServiceStats)
                            {
                                <div>
                                    <p>Plan Details</p>
                                    @serviceStatusItem.ServicePlanId
                                    @serviceStatusItem.ServicePlanName
                                    @serviceStatusItem.ProvisioningStatus
                                    @serviceStatusItem.AppliesTo
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            accordionItemCounter++;
        }
    }
</div>

@* @foreach (var item in Model.Licenses) *@
@* { *@
@*     <div> *@
@*         <table class="table-dark"> *@
@*             <thead> *@
@*             <tr> *@
@*             <th> *@
@*                 Sku Part Number *@
@*             </th> *@
@*             <th> *@
@*                 Name *@
@*             </th> *@
@*             <th> *@
@*                 Created On *@
@*             </th> *@
@*             <th> *@
@*                 Status *@
@*             </th> *@
@*             <th> *@
@*                 Expired On *@
@*             </th> *@
@*             <th> *@
@*                 Total *@
@*             </th> *@
@*             <th> *@
@*                 Trail Version *@
@*             </th> *@
@*             </thead> *@
@*             <tbody> *@
@*             <tr> *@
@*                 <td> *@
@*                     @item.SkuId *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.Name *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.CreatedDate *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.Status *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.NextLifeCycleDate *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.TotalLicenses *@
@*                 </td> *@
@*                 <td> *@
@*                     @item.IsTrail *@
@*                 </td> *@
@*             </tr> *@
@*             @foreach (var serviceStatusItem in @item.ServiceStats) *@
@*             { *@
@*                 <div> *@
@*                     <p>Plan Details</p> *@
@*                     <table class="table-secondary"> *@
@*                         <thead> *@
@*                         <tr> *@
@*                             <th> *@
@*                                 Id *@
@*                             </th> *@
@*                             <th> *@
@*                                 Name *@
@*                             </th> *@
@*                             <th> *@
@*                                 Status *@
@*                             </th> *@
@*                             <th> *@
@*                                 Applies To *@
@*                             </th> *@
@*                         </tr> *@
@*                         </thead> *@
@*                         <tbody> *@
@*                         <tr> *@
@*                             @serviceStatusItem.ServicePlanId *@
@*                         </tr> *@
@*                         <tr> *@
@*                             @serviceStatusItem.ServicePlanName *@
@*                         </tr> *@
@*                         <tr> *@
@*                             @serviceStatusItem.ProvisioningStatus *@
@*                         </tr> *@
@*                         <tr> *@
@*                             @serviceStatusItem.AppliesTo *@
@*                         </tr> *@
@*                         </tbody> *@
@*                     </table> *@
@*                 </div> *@
@*             } *@
@*             </tbody> *@
@*         </table > *@
@*     </div> *@
@* } *@