@page
@using Domain;
@model LicenStream.WebUI.Pages.LicensesModel

@{
    ViewData["Title"] = "Licenses Overview";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>SkuPartNumber</th>
            <th>Expired On</th>
            <th>Totaal aantal licenties</th>
        </tr>
        </thead>
        <tbody>
        @foreach (License l in Model.Licenses)
        {
            <tr>
                <td>
                    <a asp-page="/LicenseDetails" asp-route-id="@l.Id">
                        @l.SkuPartNumber
                    </a>
                </td>
                <td>
                    @l.NextLifeCycleDate
                </td>
                <td>
                    @l.TotalLicenses
                </td>
            </tr>
        }
        </tbody>

    </table>
</div>